#mainNav {
  background-color: #0C0F0A;
}
body {
  font-family: 'Poppins', sans-serif;  
  background-color: #41EAD4; 
  color: black; 
}
h1 {
  font-family: 'Dancing Script', cursive;    
  color: white;
}

#about, #contact {
  padding-top: 50px;
}

h3, h2 {
  margin-top: 1.5rem;
}

h5 {
  color: #0C0F0A;
}

a {
  color: white;
}
#contact {
  background: #FFFFFF;
  color: #0C0F0A;
}

.img-fluid {
  width: 400px;
  max-height: 250px;
}

#portfolio {
  background: url("../img/whirlpool.png");
}
/* portfolio styling from bootstrap template */
#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: #0C0F0A;
  color: white;
  text-align: center;
  padding: 20px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  max-height: 275px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: #FF206E;
  color: #FFFFFF;
}

#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
  opacity: 0.7;
}

#portfolio .portfolio-item .portfolio-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#portfolio * {
  z-index: 2;
}

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

#about, #portfolio, #contact {
  padding-top: 100px;
}